$overlayTextColor: #fff;
$overlayBackground: rgba(0, 0, 0, 0.8);

* {
  box-sizing: border-box;
  text-align: center;
  user-select: none;
}

.search-input {
  display: flex;
  justify-content: center;

  input {
    margin: 0 10px;
    width: 700px;
    height: 50px;
    font-size: 25px;
  }

  button {
    padding: 5px 10px;
  }
}

.container {
  margin: 50px auto;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  &-card {
    margin: 15px;

    &-image {
      margin: 5px;
      img {
        width: 100%;
      }
    }
  }
}

.wrapper {
  position: fixed;
  inset: 0;

  &-overlay {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    width: 50%;
    padding: 15px;
    color: $overlayTextColor;
    background-color: $overlayBackground;

    p {
      font-size: 20px;
      height: 200px;
      overflow-y: auto;
    }

    a {
      color: $overlayTextColor;
    }
  }
}

.wrapper-hide {
  display: none;
}
