$navBgColor: #888;
$navSelectedColor: #ffa500;
$mainBgColor: #eee;
$shopBgColor: #fff;
$shopCardBgColor: #eee;
$shopTitleBorderColor: #ffa500;

$homeTitleBorder: 1px solid $navSelectedColor;
$shopTitleBorder: 1px solid $shopTitleBorderColor;
