header {
  .nav {
    &-up {
      background-color: $navBgColor;
      display: flex;
      justify-content: space-around;
      align-items: center;

      padding: 10px;

      &-search {
        padding: 35px;

        input[type="search"] {
          width: 200px;
          height: 30px;
          font-size: 16px;
          vertical-align: bottom;
        }

        button {
          width: 27px;

          img {
            width: 100%;
          }
        }

        #adult-content {
          margin-left: 20px;
          width: 30px;
          height: 33px;
          vertical-align: bottom;
        }
      }
    }

    &-down {
      ul {
        display: flex;
        justify-content: center;
        list-style-type: none;

        li {
          margin: 5px;
          padding: 5px;
          cursor: pointer;
        }

        .selected {
          color: $navSelectedColor;
        }
      }
    }
  }
}
