main {
  background-color: $mainBgColor;

  .home {
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-preview {
      &-title {
        border-bottom: $homeTitleBorder;
      }

      &-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        &-card {
          padding: 10px;
        }
      }
    }
  }
}
