.shop {
  position: absolute;
  inset: 0;
  background-color: $shopBgColor;

  &-wrapper {
    position: relative;
    margin: auto;
    width: 70%;
    padding: 10px;
    background-color: $shopCardBgColor;

    &-container {
      display: flex;

      &-info {
        padding: 30px;
        width: 100%;

        &-title {
          border-bottom: $shopTitleBorder;
        }

        &-stats {
          p {
            margin: 20px 0;
          }

          p:last-child {
            width: fit-content;
          }
        }
      }

      &-exit {
        p {
          cursor: pointer;
        }
      }
    }

    &-title-description {
      border-bottom: $shopTitleBorder;
    }

    &-description {
      margin: 20px 0;
    }
  }
}
