.shop {
  position: fixed;
  inset: 0;
  background-color: $shopBgColor;

  &-container {
    display: flex;
    justify-content: center;
    align-items: center;

    &-items {
      text-align: center;
      width: fit-content;

      p:last-child {
        cursor: pointer;
      }
    }
  }
}
