@import "config.scss";
@import "headerSection.scss";
@import "mainSection.scss";
@import "shopSection.scss";

* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

.hide {
  display: none;
}
